<p>Hola {{ user.get_full_name }}</p>

<p>Recibimos una solicitud para restablecer tu contraseña en {{ site_name }}. Si no realizaste esta solicitud, puedes ignorar este mensaje. <br>De lo contrario, haz clic en el enlace a continuación para establecer una nueva contraseña:</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer mi contraseña</a></p>

<p>Este enlace es válido solo por un tiempo limitado.</p>

<p>Recordar que su usuario es su rut sin puntos ni guión.</p>

<p>Saludos,<br>Equipo de Asistencia Judicial</p>
