:root {
    /* Colores principales */
    --color-primary: #212529;
    --color-secondary: #4a4a4a;
    --color-success: #00be2c;
    --color-error: #c82333;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-muted: #6c757d;
    --color-border: #343a40;
    --color-hover: #e2e6ea;
    --color-background: #f1f1f1;
    --color-link: #007bff;

    /* Transparencias */
    --color-overlay-light: rgba(255, 255, 255, 0.8); /* Superposición más suave */
    --color-shadow: rgba(0, 0, 0, 0.15); /* Sombra más definida */
}

/* ==========================
   Globales
========================== */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(/static/img/fondo3.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: var(--color-dark);
}

header, footer {
    background-color: var(--color-primary);
    color: var(--color-light);
}

main {
    flex: 1;
}

/* ==========================
   Componentes: Contenedores
========================== */
.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.info-card, .login-card, .container {
    background-color: var(--color-overlay-light);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 5px 10px var(--color-shadow);
    margin-bottom: 2rem;
}

.img-thumbnail{
    width: 2em;
}

.h1 {
    color: var(--primary-color);
    margin: 0;
    font-size: 167rem;
}

.h2 {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-top: 0;
}

/* ==========================
   Formularios
========================== */
label {
    font-weight: 500;
    color: black;
}

input, select, textarea, .form-control {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-check.selected {
    border-color: var(--color-link);
    box-shadow: 0 0 10px var(--color-shadow);
    background-color: var(--color-background);
}

/* ==========================
   Botones
========================== */
button {
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 15px;
    transition: all 0.3s ease;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-secondary);
    color: var(--color-light);
    opacity: 0.9;
    transform: translateY(-1px);
}

.btn-secondary {
    background-color: var(--color-primary);
    color: var(--color-light);
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
    opacity: 0.9;
    transform: translateY(-1px);
}

.btn-success {
    background-color: var(--color-success);
    color: var(--color-light);
    border: none;
}

/* ==========================
   Recursos
========================== */

.resources img {
    max-width: 100%; /* Las imágenes no excederán el 100% de su contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    margin: 10px; /* Espacio entre las imágenes */
    border-radius: 8px; /* Bordes redondeados si deseas */
    max-height: 75px; /* Limita la altura de las imágenes */
}

/* Si quieres que las imágenes se ajusten en una fila horizontal */
.resources div {
    display: flex;
    justify-content: space-around; /* Espacia las imágenes */
    flex-wrap: wrap; /* Asegura que las imágenes no se desborden en pantallas pequeñas */
}

/* Adaptación para dispositivos pequeños */
@media (max-width: 768px) {
    .resources img {
        max-height: 120px; /* Para pantallas pequeñas, reducimos un poco más el tamaño */
    }
}


/* ==========================
   Tabla
========================== */

td {
    align-content: end !important;
}

/* ===========================
   Estilos del Aside
=========================== */
#aside-menu {
    background-color: var(--color-light);
    padding: 2rem;
    border-radius: 15px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#aside-menu h4 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}

#aside-menu .nav-item {
    margin-bottom: 1rem;
}

#aside-menu .nav-link {
    color: var(--color-primary);
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#aside-menu .nav-link.active {
    background-color: var(--color-primary);
    color: var(--color-light);
}

#aside-menu .nav-link:hover {
    background-color: var(--color-hover);
    color: var(--color-primary);
    transform: translateX(5px);
}

#aside-menu .nav-item:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1rem;
}