<!-- Mi login.html -->
{% extends "base.html" %}

{% block title %}Asistencia Judicial{% endblock %}

{% block content %}
<body>
    <div class="main-container">
        <div class="row">
            <div class="col-md-6">
                <div class="info-card">
                    <h2>En que consiste...</h2>
                    <p>Este programa te ayudará a entender mejor tu caso en la política legal de este país sin necesidad de contar con un abogado o tener que hacer cita previa para consultas.</p>
                    <p>Serás orientado en un caracter sensillo y claro a la resolución de tu caso.</p>
                    <p>Evitaras colas de espera para ser atendido, ademas de tener asesoria para tus consultas.</p>
                    <p>Todo esto es un proceso en línea.</p>
                </div>
                
                <div class="info-card">
                    <h2>Cual es el proceso...</h2>
                    <p>Este programa te ayudará a entender mejor tu caso en la política legal de este país sin necesidad de contar con un abogado o tener que hacer cita previa para consultas.</p>
                    <p>Serás orientado en un caracter sensillo y claro a la resolución de tu caso.</p>
                    <p>Evitaras colas de espera para ser atendido, ademas de tener asesoria para tus consultas.</p>
                    <p>Todo esto es un proceso en línea.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="login-card">
                    <h2 class="text-center mb-4">Iniciar Sesión</h2>
                    {% if messages %}
                        <ul class="mt-3">
                            {% for message in messages %}
                                <li class="text-danger">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p class="text-center mt-3"><button type="submit" class="btn btn-primary">Ingresar</button></p>
                    </form>
                    <p class="text-center mt-3"><a class="btn btn-primary" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
                </div>

                <div class="text-center mt-3">
                    <a href="{% url 'registro' %}" class="btn btn-secondary w-70">Registrar nuevo usuario</a>
                </div>

                <div class="resources mt-5">
                    <h3>Recursos:</h3>
                    <div>
                        <img src="/static/img/recurso1.png" alt="SERNAC">
                        <img src="/static/img/recurso2.png" alt="Biblioteca del Congreso">
                        <img src="/static/img/recurso3.jpg" alt="Universidad">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}